<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clínica</title>

    <link rel="stylesheet" type="text/css" href="../../estilo.css"/>
</head>
<body>
<header>
    <img src="../../image/logo.png" height="100px">

    <h1>PSW - CLÍNICA</h1>
</header>
<!-- Menu-->
<nav>
    <ul id="drop-menu">
        <li class="img-home"><a href="../../index.html"><img class="img-home" src="../../icon/home.png">
            <li><a>Cadastros</a>
                <ul>
                    <li><a href="./paciente.html">Paciente</a></li>
                    <li><a href="./medico.html">Médico</a></li>
                    <li><a href="./secretaria.html">Secretária</a></li>
                </ul>
            </li>
            <li><a>Agenda</a>
                <ul>
                    <li><a>Agendar Consultas</a></li>
                </ul>
            </li>
            <li><a>Relatórios</a>
                <ul>
                    <li><a>Consultar Agenda</a></li>
                    <li><a>Relatório Paciente</a></li>
                    <li><a>Pacientes atendidos</a></li>
                </ul>
            </li>
            <li><a>Prontuário</a>
                <ul>
                    <li><a>Prontuários</a></li>
                </ul>
            </li>
            <li><a>Fechar</a></li>
    </ul>
</nav>
    <h2>Atestado</h2>

    <div class="dados">

        <br/>
        <span class="atributo-form">Paciente</span>
        <br/>
        <input name="paciente" class="input-dados" type="text"/>
        <button type="button">Pesquisar</button>
        <br/>
        <br/>


        <span class="atributo-form">Data de Início</span>
        <br/>
        <input name="data" class="input-dados" type="date"/>
        <br/>
        <br/>

        <span class="atributo-form">Quantidade de Dias</span>
        <br/>
        <input name="quantidade" type="number" class="input-dados"/>


        <br/>
        <br/>
        <span class="atributo-form">Descrição</span>
        <br/>
        <textarea name="descricao" class="input-dados-area"></textarea>
        <br/>
        <button type="button">Imprimir</button>
    </div>
</body>
</html>