<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Clínica</title>

	<link rel="stylesheet" type="text/css" href="../../estilo.css"/>
</head>
<body>
	<header>
		<img src="../../image/logo.png" height="100px">
		<h1>PSW - CLÍNICA</h1>
	</header>
	<nav>
		<ul id="drop-menu">
			<li class="img-home"><a href="../../index.html"><img class="img-home" src="../../icon/home.png">
				<li><a>Cadastros</a>
					<ul>
						<li><a href="./paciente.html">Paciente</a></li>
						<li><a href="./medico.html">Médico</a></li>
						<li><a href="./secretaria.html">Secretária</a></li>
					</ul>
				</li>
				<li><a>Agenda</a>
					<ul>
						<li><a>Agendar Consultas</a></li>
					</ul>
				</li>
				<li><a>Relatórios</a>
					<ul>
						<li><a>Consultar Agenda</a></li>
						<li><a>Relatório Paciente</a></li>
						<li><a>Pacientes atendidos</a></li>
					</ul>
				</li>
				<li><a>Prontuário</a>
					<ul>
						<li><a>Prontuários</a></li>
					</ul>
				</li>
				<li><a>Fechar</a></li>
			</ul>
		</nav>
		<br>
		<form>
			<h2>Agendar consulta</h2>
			<div class="dados">
				<span class="atributo-form">Paciente</span> </br>
				<select name="Paciente" class="input-dados" id="inpPaciente"></select>
				</br></br>
				<span class="atributo-form">Médicos</span> </br>
				<select name="Medico" class="input-dados" id="inpMedico"></select>
				</br></br>
				<span class="atributo-form">Tipo de consulta</span> </br>
				<select name="Consulta" class="input-dados" id="inpConsulta"></select>
				</br></br>
				<span class="atributo-form">Data da consulta:</span> </br>
				<input name="Data da Consulta" class="input-dados" type="date" id="inpDate">
				</br></br>
				<span class="atributo-form">Hora da consulta:</span> </br>
				<input name="Hora da Consulta" class="input-dados" type="time" id="inpHour">
				</br></br>
		</div>
		<br/>
		<button type="button" id="save">Salvar</button>
		<button type="button" id="clean">Limpar</button>
	</form>
	<script src="../../js/seed.js"></script>
	<script src="../../js/agenda/agendarconsulta.js"></script>
</body>
</html>
